.water--mark{
    display: flex;
    justify-content: center;
    align-items    : center;
    flex-direction : row;
    flex-wrap : wrap;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    pointer-events: none;
    overflow: hidden;
}

.water--mark__text{
    padding: 100px;
    opacity: .1;
    font-size: 20px;
}